<div class="col-md-12 mb-5">
    <h5 class="text-center">Lettres</h5>
    <hr class="divider my-4 underline-divider">
    <p class="text-justify subtitle font-weight-light mb-4 mt-0">Les lettres composant votre identité sont classées selon leur vibration physique, émotive, cérébrale ou intuitive. L'importance de chacune de ces catégories dans votre identité construit une vibration qui influence plus ou moins votre comportement. Cette vibration est différente si vous ne prenez en compte que votre identité publique (apparente) ou votre identité complète (avec tous les noms et prénoms).</p>

    <div class="accordion mb-2 premium-only" id="accordionPublic">
        <div class="card">
            <div class="card-header" id="headingPublic">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapsePublic" aria-expanded="true" aria-controls="collapsePublic">
                        Votre personnalité apparente : nom et prénom d'usage
                    </a>
                </h6>
            </div>

            <div id="collapsePublic" class="collapse" aria-labelledby="headingPublic" data-parent="#accordionPublic">
                <div class="card-body">
                    <p>La personnalité apparente est celle que les autres connaissent et dont ils ressentent la vibration, qui n’est pas forcément identique à celle donnée par votre identité complète.</p>

                    <div class="chart-pie pt-4 pb-2">
                        <canvas class="automaticBarChart"
                                data-labels="Physique,Émotive,Cérébrale,Intuitive"
                                data-values="{{ lettersChartValues.public|join(',') }}">
                        </canvas>
                    </div>
                    <p class="text-center"><small><em>Ce graphique affiche les excès ou les manques relatifs à la moyenne de chaque type de lettre.</em></small></p>

                    <br>

                    {% if lettersSynthesis.public|default and lettersSynthesis.public|length == 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.public'|transchoice(lettersSynthesis.public|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.public.0)|trans})|raw }}
                        </p>
                    {% elseif lettersSynthesis.public|default and lettersSynthesis.public|length > 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.public'|transchoice(lettersSynthesis.public|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.public.0)|trans, '%2%': ('analysis.show.letters.synthesis.'~lettersSynthesis.public.1)|trans})|raw }}
                        </p>
                    {% else %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.public'|transchoice(0)|raw }}
                        </p>
                    {% endif %}

                    <br>

                    <p>Cette information est disponible dans l'étude complète ou dans <a href="https://www.editions-bussiere.com/home/748-numerologie-essentielle-heritages-et-parcours-de-vie-9782850907227.html" class="btn-link">la Numérologie essentielle - Héritages et parcours de vie</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-2 premium-only" id="accordionPrivate">
        <div class="card">
            <div class="card-header" id="headingPrivate">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapsePrivate" aria-expanded="true" aria-controls="collapsePrivate">
                        Votre personnalité réelle : tous les noms et prénoms
                    </a>
                </h6>
            </div>

            <div id="collapsePrivate" class="collapse" aria-labelledby="headingPrivate" data-parent="#accordionPrivate">
                <div class="card-body">
                    <p>C’est en intégrant votre identité complète que l’on peut connaître les véritables moteurs de votre comportement.</p>

                    <br>

                    <p>Cette information est disponible dans l'étude complète ou dans <a href="https://www.editions-bussiere.com/home/748-numerologie-essentielle-heritages-et-parcours-de-vie-9782850907227.html" class="btn-link">la Numérologie essentielle - Héritages et parcours de vie</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>