<div class="col-md-12 mb-5">
    <h5>Identité</h5>
    <hr class="divider my-4 underline-divider">

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center automatic-tippy"
            data-ltippy="global"
            data-rtippy="{{ subject.data.identity.globalNumber }}">
            Nombre global
            <span class="badge badge-primary badge-pill">{{ subject.data.identity.globalNumber }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center automatic-tippy premium-only"
            data-ltippy="inherited"
            data-premium="true">
            Nombre héréditaire
            <span class="badge badge-info badge-pill">?</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center automatic-tippy premium-only"
            data-ltippy="duty"
            data-premium="true">
            Nombre de mission
            <span class="badge badge-info badge-pill">?</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center automatic-tippy premium-only"
            data-ltippy="social"
            data-premium="true">
            Nombre social
            <span class="badge badge-info badge-pill">?</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center automatic-tippy premium-only"
            data-ltippy="structure"
            data-premium="true">
            Nombre de structure
            <span class="badge badge-info badge-pill">?</span>
        </li>
    </ul>
</div>