@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~magnific-popup/dist/magnific-popup.css";
@import "creative.css";
@import "~tippy.js/themes/light-border.css";
@import "pricing.css";
@import "lifepath";
@import '~pc-bootstrap4-datetimepicker/src/sass/bootstrap-datetimepicker-build';

$pastel-red: #ff6962;
$pastel-orange: #ffcb99;
$pastel-yellow: #fefec8;
$pastel-blue: #abe1fb;

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #f4623a;
  color: #FFF;
  border-radius: 0 0 50px;
  text-align: center;
  z-index: 12345;
}

strong.font-weight-bold {
  font-weight: 700;
}

.my-float{
  margin-top: 9px;
  margin-left: -9px;
}

#book-cover {
  position: fixed;
  left: 0;
  width: 300px;
  top: 0;
  z-index: 1234;

  img {
    height: 300px;
    margin: 0 auto;
  }
}

.paymentButton {
  width: 200px;
}

.disabled-btn {
  cursor: default;
}

.vibrationsLegend {
  padding: 0;

  p {
    font-weight: bolder;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
  }
}

.vibrationsTable {
  width: 150px;
  height: 150px;

  tr:nth-child(1) {
    td:nth-child(1) {
      border-radius: 10px 0px 0px 0px;
    }

    td:nth-child(3) {
      border-radius: 0px 10px 0px 0px;
    }
  }

  tr:nth-child(3) {
    td:nth-child(1) {
      border-radius: 0px 0px 0px 10px;
    }

    td:nth-child(3) {
      border-radius: 0px 0px 10px 0px;
    }
  }

  td {
    width: 40px;
    height: 40px;
    text-align: center;
  }
}

.vibrationsTable td, .vibrationsLegend p, .vibrationsLegend span {
  &.red {
    background-color: $pastel-red;
    color: white;
  }
  &.orange {
    background-color: $pastel-orange;
    color: white;
  }
  &.yellow {
    background-color: $pastel-yellow;
    color: #858796;
  }
  &.blue {
    background-color: $pastel-blue;
    color: #858796;
  }
}

.btn-icon-split {
  padding: 0;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .icon {
    display: inline-block;
    padding: .375rem .75rem;
  }

  .text {
    display: inline-block;
    padding: .375rem .75rem;
  }

  &.red {
    .icon {
      background: rgba(0,0,0,.10);
    }

    background-color: $pastel-red;
    color: white;
    border-color: #858796;
  }
  &.orange {
    .icon {
      background: rgba(0,0,0,.10);
    }

    background-color: $pastel-orange;
    color: white;
    border-color: #858796;
  }
  &.yellow {
    .icon {
      background: rgba(0,0,0,.10);
    }

    background-color: $pastel-yellow;
    color: #858796;
    border-color: #858796;
  }
  &.blue {
    .icon {
      background: rgba(0,0,0,.10);
    }

    background-color: $pastel-blue;
    color: #858796;
    border-color: #858796;
  }
  &.grey {
    .icon {
      background: rgba(0,0,0,.10);
    }

    background-color: #e6e7ea;
    color: #858796;
    border-color: #858796;
  }
}

.tryPage {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
  color: #495057;
}

.showPage {
  .accordion {
    .card-header {
      a {
        text-decoration: none;
      }
    }
    .card-body {
      p {
        font-size: 1rem;
      }
    }
  }

  .text-progress p {
    font-size: 1rem;
    padding: 5px;
  }
}

.showPage, .tryPage {
  header.masthead {
    height: auto !important;
    min-height: 100vh;
  }
  .premium-item {
    margin: auto;

    i {
      position: absolute;
    }

    &#premium-pending i {
      top: 25px;
      color: grey;
    }
    &#premium-badge i {
      top: 0;
      color: gold;
    }
    &#premium-print i {
      top: 25px;
      right: 70px;
      color: grey;
    }
    &#free-premium-copy i {
      top: 25px;
      right: 30px;
      color: grey;
    }
  }
}

.tippy-tooltip {
  padding: 15px;
  line-height: 1.5rem;
  border-radius: 1rem;

  &.light-border-theme {
    background-color: #f4623a !important;
    color: white !important;

    .tippy-roundarrow {
      transform: scale(1.5) !important;
      fill: #f4623a !important;
    }
  }

  &.light-theme {
    background-color: #17a2b8 !important;
    color: white !important;

    .tippy-roundarrow {
      transform: scale(1.5) !important;
      fill: #17a2b8 !important;
    }
  }
}

#tippyPseudos {
  vertical-align: bottom;
  color: darkgrey;
  cursor: pointer;
}

.premium-only {
  background-color: #e6e6e6 !important;

  .card-header {
    background-color: #e6e6e6;
  }
}

hr.underline-divider {
  margin-top: 0 !important;
  max-width: 100% !important;
  border-width: 3px !important;
}

.progress {
  height: 2rem;
  &:not(:first-of-type) {
    margin-top: 20px;
  }
  span {
    position: relative;
    right: -10px;
    color: #6c757d !important;
    top: 10px;
  }
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-body {
    padding: 2rem;
  }
}

.form-signin {
  width: 100%;

  .btn {
    font-size: 80%;
    letter-spacing: .1rem;
    font-weight: bold;
    transition: all 0.2s;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;

    input, label {
      padding: var(--input-padding-y) var(--input-padding-x);
    }

    .date label {
      width: 80% !important;
      margin-left: -15px;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0;
      /* Override default `<label>` margin */
      line-height: 1.5;
      font-size: 14px;
      color: #495057;
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all .1s ease-in-out;
      padding-left: 2.5rem;
    }

    input {
      height: auto;

      &::-webkit-input-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
      &::-ms-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
      &::placeholder {
        color: transparent;
      }
      &:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
      }
      &:not(:placeholder-shown)~label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
      }
    }
  }
}

.page-section {
  padding: 5rem 0;
}

#try.page-section {
  padding-bottom: 3rem;
}

section.buffer {
  margin: 0;
  padding: 2rem;
}

p.subtitle {
  font-size: 1rem !important;
  font-style: italic;
}

i.fa-github {
  color: black;

  &::before {
    vertical-align: middle;
  }
}

.crop {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;

  img {
    margin: 0px 0 0 -65px;
    width: 320px;
  }
}

hr.full-hr {
  width: 100%;
}

.paymentButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#007dc1;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 2px #161c24;

  &:hover:enabled {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
  }

  &:active:enabled {
    position:relative;
    top:1px;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.paymentOption {
  height: 70px;
}

.list-no-bullet {
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  #environment {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  header.masthead {
    padding-top: 25px;
    padding-bottom: 0;
    background: none;

    .container {
      padding: 0;

      .card.card-signin {
        border: none;

        .card-body {
          //padding: 2rem 0;

          #environment {
            display: none;
          }
        }
      }
    }
  }
}

.overflow-visible {
  overflow: visible !important;
}