@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~startbootstrap-sb-admin-2/css/sb-admin-2.min.css";
@import "~shepherd.js/dist/css/shepherd-theme-square.css";
@import "~quill/dist/quill.snow.css";
@import '~pc-bootstrap4-datetimepicker/src/sass/bootstrap-datetimepicker-build';

$pastel-red: #ff6962;
$pastel-orange: #ffcb99;
$pastel-yellow: #fefec8;
$pastel-blue: #abe1fb;

.bg-login-image {
  background: url(http://www.editions-bussiere.com/1297-thickbox_default/numerologie-essentielle-heritages-et-parcours-de-vie.jpg);
  background-position: center;
}

.comparison {
  .divTitles {
    width: 100%;
  }
}

.adminAddUser {
  #standardModal .modal-dialog {
    max-width: 800px;
  }
}

.vibrationsLegend {
  p {
    font-weight: bolder;
    font-size: 1.2em;
    font-variant: small-caps;
    padding: 5px;
    text-align: center;
  }
}

.vibrationsTable {
  width: 200px;
  height: 200px;

  tr:nth-child(1) {
    td:nth-child(1) {
      border-radius: 10px 0px 0px 0px;
    }

    td:nth-child(3) {
      border-radius: 0px 10px 0px 0px;
    }
  }

  tr:nth-child(3) {
    td:nth-child(1) {
      border-radius: 0px 0px 0px 10px;
    }

    td:nth-child(3) {
      border-radius: 0px 0px 10px 0px;
    }
  }

  td {
    width: 40px;
    height: 40px;
    text-align: center;
  }
}

.vibrationsTable td, .vibrationsLegend p {
  &.red {
    background-color: $pastel-red;
    color: white;
  }
  &.orange {
    background-color: $pastel-orange;
    color: white;
  }
  &.yellow {
    background-color: $pastel-yellow;
    color: #858796;
  }
  &.blue {
    background-color: $pastel-blue;
    color: #858796;
  }
}

.btn-icon-split {
  &.red {
    .icon {
      background: rgba(0,0,0,.10);
    }

    background-color: $pastel-red;
    color: white;
    border-color: #858796;
  }
  &.orange {
    .icon {
      background: rgba(0,0,0,.10);
    }

    background-color: $pastel-orange;
    color: white;
    border-color: #858796;
  }
  &.yellow {
    .icon {
      background: rgba(0,0,0,.10);
    }

    background-color: $pastel-yellow;
    color: #858796;
    border-color: #858796;
  }
  &.blue {
    .icon {
      background: rgba(0,0,0,.10);
    }

    background-color: $pastel-blue;
    color: #858796;
    border-color: #858796;
  }
}

#wrapper {
  #content-wrapper {
    overflow: hidden;

    form {
      &[name="app_bundle_numerologie"] {
        label.required {
          font-weight: bolder;

          &:after {
            content: '\f069';
            font-size: .15rem;
            vertical-align: super;
            font-family: 'Font Awesome 5 Free';
          }
        }
      }
      ul {
        list-style-type: none;
      }
      &.automatic-quill[name="number"], &.automatic-quill[name="definition"] {
        .form-group {
          padding: 20px 0;
        }
      }
    }

    .border-left-warning {
      border-left: .25rem solid #f6c23e!important;
    }
    .border-right-primary {
      border-right: .25rem solid #4e73df!important;
    }

    .card-header {
      .btn-sm.btn-circle {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    .card-body {
      overflow-x: auto;

      .disabled-btn {
        cursor: default;
      }
    }
  }

  #sidebarToggle {
    color: rgba(255,255,255,.5);

    &:after {
      content: none;
    }
  }

  #accordionSidebar .nav-item .nav-link.active {
    i {
      color: white;
    }

    &:after {
      content: '\f0a5';
      color: white;
      width: 1rem;
      text-align: center;
      float: right;
      vertical-align: 0;
      border: 0;
      font-weight: 900;
      font-family: 'Font Awesome 5 Free';
    }
  }

  .conversation {
    .message {
      border-left: none !important;
      border-right: none !important ;
      margin-top: -1px;

      .card-body {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }

    .card {
      border: 1px solid #e3e6f0;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;

      .conversationDetails {
        max-height: 400px;
        overflow-y: auto;
      }
    }
  }
}

#nyan {
  position: fixed;
  bottom: 0px;
  z-index: 999;
}

.btn-real-danger {
  background-color: #e74a3b !important;
  border-color: #e74a3b !important;
}

.btn-real-warning {
  background-color: #f6c23e !important;
  border-color: #f6c23e !important;
}

.btn-real-default {
  background-color: #d4daed !important;
  border-color: #cbd3e9 !important;
}

.btn-real-secondary {
  background-color: #858796 !important;
  border-color: #858796 !important;
}

.btn-real-info {
  background-color: #36b9cc !important;
  border-color: #36b9cc !important;
}

.btn-real-primary {
  background-color: #4e73df !important;
  border-color: #4e73df !important;
}

.btn-real-success {
  color: #fff !important;
  background-color: #1cc88a !important;
  border-color: #1cc88a !important;
}

.reallyWhite {
  z-index: 12345;
  position: relative;
}

.tippy-popper .tippy-tooltip {
  text-align: left;
  width: auto;

  .shepherd-footer .shepherd-buttons {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
  }
}

#historyTable tbody td:last-child {
  min-width: 80px;
}

@media (max-width: 1024px) {
  .copyright {
    font-size: 1.5rem;
  }
}

.overflow-visible {
  overflow: visible !important;
}