{% if mode|default and 'compact' == mode %}
    {% set compact = true %}
{% endif %}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <a href="#collapseAllNames" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseAllNames">
                <h6 class="m-0 font-weight-bold text-primary">
                    Tous les noms et prénoms
                </h6>
            </a>

            <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseAllNames">
                <div class="card-body">
                    {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': subject.fullNames} %}
                </div>
            </div>
        </div>
    </div>

    {% if subject.useName|default %}
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <a href="#collapseUseName" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseUseName">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Nom d'usage
                    </h6>
                </a>

                <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseUseName">
                    <div class="card-body">
                        {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': subject.useName, 'moyen': [25, 30, 27, 10]} %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if subject.birthName|default %}
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <a href="#collapseBirthName" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseBirthName">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Nom de naissance
                    </h6>
                </a>

                <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseBirthName">
                    <div class="card-body">
                        {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': subject.birthName, 'moyen': [25, 30, 27, 10]} %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if subject.pseudos is not empty %}
        {% set pseudos = '' %}
        {% for pseudo in subject.pseudos %}
            {% set pseudos = pseudos~pseudo %}
        {% endfor %}

        {% if pseudos|default %}
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <a href="#collapsePseudo" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapsePseudo">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Pseudos
                        </h6>
                    </a>

                    <div class="collapse{% if not compact|default %} show{% endif %}" id="collapsePseudo">
                        <div class="card-body">
                            {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': pseudos} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if subject.firstName|default %}
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <a href="#collapseFirstname" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseFirstname">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Prénom d'usage
                    </h6>
                </a>

                <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseFirstname">
                    <div class="card-body">
                        {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': subject.firstName} %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if subject.otherFirstnames|default %}
        {% set others = '' %}
        {% for other in subject.otherFirstnames %}
            {% set others = others~other %}
        {% endfor %}

        {% if others|default %}
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <a href="#collapseOtherFirstnames" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseOtherFirstnames">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Prénoms masqués
                        </h6>
                    </a>

                    <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseOtherFirstnames">
                        <div class="card-body">
                            {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': others} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

<p>
    Résumé des lettres

    Nom et prénom d’usage
    C’est l’identité que les autres connaissent et dont ils ressentent la vibration, qui n’est pas forcément identique à celle donnée par votre identité complète.

    Tous les noms et prénoms
    C’est en intégrant votre identité complète que l’on peut connaître les véritables moteurs de votre comportement.

    Personnalité apparente
    Personnalité réelle

    Lettres physiques
    Elles concernent ce qui a trait à la réalité, à l’expérience, aux capacités d’action, au réalisme, à la rationalité, aux facultés permettant d’affronter la société et les responsabilités ainsi qu’au désir d’agir concrètement.

    Un excès relatif de lettres physiques par rapport à la moyenne indique que votre identité induit un comportement très actif, une manière d’aborder la vie en se référant à votre expérience plutôt qu’à la réflexion ou aux émotions et une façon de résoudre les problèmes d’abord par l’action de préférence à une autre méthode.
    Le moteur de votre vie est l’action. La participation à la vie active, la capacité de façonner votre propre existence et éventuellement celles des autres, sont très importantes pour vous. Mais vous risquez d’avoir du mal à vous extraire de votre quotidien, de ce qui n’est pas considéré comme utile ou nécessaire. Si vous êtes privé(e) d’action, d’une manière autoritaire, du fait des accidents de la vie ou à cause de la vieillesse, vous pouvez vous étioler mentalement et physiquement. En revanche, les activités sportives et manuelles maintiennent ce moteur en bon état.

    Un déficit relatif de lettres physiques signale des difficultés ou des craintes à affronter les responsabilités de la vie active, un manque de réalisme éventuel ou des difficultés pour passer à l’action qui peut se traduire par de la procrastination. Vous pouvez souffrir d’un manque d’ancrage et vous laisser ballotter par vos émotions ou vos constructions mentales.


    Lettres émotives

    Elles parlent de ce qui concerne les sentiments, les émotions, l’affectif et les relations.

    Un excès relatif de lettres émotives par rapport à la moyenne entraîne une vibration de trop forte sensibilité, une émotivité qui peut vous pousser à réagir exagérément par rapport aux stimuli des émotions subies. Cette réaction passe selon le cas par des constructions mentales erronées ou excessives, des actions concrètes exagérées par rapport à la situation ou bien encore par des blocages.
    Vous risquez par ailleurs de faire passer votre comportement par le filtre exclusif des émotions au risque de vous laisser facilement manipuler par manque de recul et de sang-froid.
    En revanche, un manque de vibration émotive peut entraîner une certaine froideur ou indifférence aux autres, une absence de prise en compte de vos propres émotions et parfois un manque d’empathie. Les actions et les réflexions ne s’embarrassent pas d’états d’âme.
    Dans les rapports avec les autres, vous êtes moins poussé(e) à souffrir des atteintes éventuelles de l’extérieur et à vous sentir concerné(e) par les stimuli positifs. La prise en compte des émotions n’est pas un moteur du comportement et ce n’est pas là-dessus que l’on pourra jouer pour interagir avec vous.

    Lettres cérébrales

    Elles concernent ce qui touche au raisonnement, à l’imagination, à l’activité mentale, à la réflexion, à l’intelligence et à la vie intellectuelle et psychique.

    Un excès relatif de vibration cérébrale favorise une appréhension purement intellectuelle et mentale de la réalité. Vous risquez de ne pas avoir les pieds sur terre et de vous évader dans un monde imaginaire, virtuel, peuplé de constructions théoriques, arbitraires et inutiles car non confrontées à l’épreuve des faits, des actes ou des émotions.
    Les personnalités de type fortement secondaire ont besoin de temps pour digérer mentalement les événements et leurs conséquences, ce qui les conduit à avoir du mal pour réagir immédiatement aux événements, même dans les situations qui l’exigeraient. Cela peut donner, souvent à tort, l’impression de fausseté ou d’esprit calculateur du fait de ce manque de spontanéité.
    En revanche, les décisions sont mûrement réfléchies, parfois même trop longtemps, surtout si les lettres physiques sont peu nombreuses et ne favorisent pas le passage à l’acte. De manière identique, les émotions ou les sentiments peuvent ne pas paraître sincères ou sembler compliqués du fait de la volonté de tout prendre en compte mentalement avant de réagir. Tout dépend de la force des vibrations physiques ou émotives.
    Un manque de vibration cérébrale indique que vous soumettez votre réflexion à vos émotions ou à vos actes, ne réfléchissant qu’après coup. Ceci n’indique pas un déficit intellectuel quelconque mais seulement une inclination à laisser les manifestations concrètes ou émotives prendre le pas sur votre monde mental avec un risque certain d’influençabilité. Le moteur de votre fonctionnement n’est pas alimenté en priorité par un calcul intellectuel, ce qui se traduit par une grande spontanéité, soit dans le mode d’action, soit dans la façon de recevoir ou d’exprimer les émotions et les sentiments. L’absence de filtre mental n’est pas toujours bien vécue par l’entourage ni facile à vivre socialement. En revanche, les situations d’urgence, pour peu que l’intuition soit forte, vous permet de révéler votre potentiel.

    Lettres intuitives

    Elles révèlent comment l’identité de la personne la pousse à sentir, deviner, percevoir ou anticiper ce qui n’est pas directement visible, ce qui va se passer ou ce qui se trame derrière les apparences.

    Une surcapacité intuitive vous permet d’improviser et de vous adapter à la plupart des situations. Vous vous servez de votre intuition avant de chercher à comprendre, ressentir ou agir.
    Un manque d’intuition vous expose à être fréquemment surpris(e) par ce qui arrive, à ne pas écouter la petite voix intérieure qui vous prévient du danger ou des opportunités à saisir. Ce déficit vous oblige à compenser le manque d’intuition par une réflexion accrue, l’acquisition de connaissances et d’expériences physiques ou émotionnelles auxquelles vous référer pour savoir comment réagir.


    Synthèse :
    Le moteur de votre comportement (apparent, réel) est d’abord (physique, émotif, cérébral, intuitif). Il s’appuie ensuite sur le (les) versant (s) (physique, émotif, cérébral, intuitif) de votre personnalité.
    Votre comportement (apparent, réel) tel que le révèle votre identité est équilibré entre les aspects physique, émotif, cérébral et intuitif.
</p>
