<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <a href="#collapseAllNames" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseAllNames">
                <h6 class="m-0 font-weight-bold text-primary">
                    Tous les noms et prénoms
                </h6>
            </a>

            <div class="collapse show" id="collapseAllNames">
                <div class="card-body">
                    {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': subject.fullNames} %}
                </div>
            </div>
        </div>
    </div>

    {% if subject.useName|default %}
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <a href="#collapseUseName" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseUseName">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Nom d'usage
                    </h6>
                </a>

                <div class="collapse show" id="collapseUseName">
                    <div class="card-body">
                        {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': subject.useName, 'moyen': [25, 30, 27, 10]} %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if subject.birthName|default %}
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <a href="#collapseBirthName" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseBirthName">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Nom de naissance
                    </h6>
                </a>

                <div class="collapse show" id="collapseBirthName">
                    <div class="card-body">
                        {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': subject.birthName, 'moyen': [25, 30, 27, 10]} %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if subject.pseudos is not empty %}
        {% set pseudos = '' %}
        {% for pseudo in subject.pseudos %}
            {% set pseudos = pseudos~pseudo %}
        {% endfor %}

        {% if pseudos|default %}
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <a href="#collapsePseudo" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapsePseudo">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Pseudos
                        </h6>
                    </a>

                    <div class="collapse show" id="collapsePseudo">
                        <div class="card-body">
                            {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': pseudos} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if subject.firstName|default %}
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <a href="#collapseFirstname" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseFirstname">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Prénom d'usage
                    </h6>
                </a>

                <div class="collapse show" id="collapseFirstname">
                    <div class="card-body">
                        {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': subject.firstName} %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if subject.otherFirstnames|default %}
        {% set others = '' %}
        {% for other in subject.otherFirstnames %}
            {% set others = others~other %}
        {% endfor %}

        {% if others|default %}
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <a href="#collapseOtherFirstnames" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseOtherFirstnames">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Prénoms masqués
                        </h6>
                    </a>

                    <div class="collapse show" id="collapseOtherFirstnames">
                        <div class="card-body">
                            {% include '@Extranet/Analysis/_table_lettres.html.twig' with {'mot': others} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
