<h2>Lettres physiques, émotives, cérébrales, intuitives</h2>

<h3>Nom d'usage</h3>

{% include '@App/Numerologie/_table_lettres.html.twig' with {'mot': subject.useName|default(subject.birthName), 'moyen': [25, 30, 27, 10]} %}

<hr>

<h3>Prénom d'usage</h3>

{% include '@App/Numerologie/_table_lettres.html.twig' with {'mot': subject.firstname} %}

{% if subject.otherFirstnames|default %}
    <hr>

    <h3>Prénoms masqués</h3>

    {% set others = '' %}
    {% for other in subject.otherFirstnames %}
        {% if loop.index > 1 %}
            {% set others = others~other %}
        {% endif %}
    {% endfor %}

    {% include '@App/Numerologie/_table_lettres.html.twig' with {'mot': others} %}
{% endif %}