<h2>Lettres physiques, émotives, cérébrales, intuitives</h2>

{% if subject.useName|default %}
    <h3>Nom d'usage</h3>

    {% include '@App/Numerologie/_table_lettres.html.twig' with {'mot': subject.useName, 'moyen': [25, 30, 27, 10]} %}
{% endif %}

{% if subject.birthName|default %}
    <h3>Nom de naissance</h3>

    {% include '@App/Numerologie/_table_lettres.html.twig' with {'mot': subject.birthName, 'moyen': [25, 30, 27, 10]} %}
{% endif %}

{% if subject.firstName|default %}
    <h3>Prénom d'usage</h3>

    {% include '@App/Numerologie/_table_lettres.html.twig' with {'mot': subject.firstname} %}
{% endif %}

{% if subject.otherFirstnames|default %}
    <h3>Prénoms masqués</h3>

    {% set others = '' %}
    {% for other in subject.otherFirstnames %}
        {% set others = others~other %}
    {% endfor %}

    {% if others|default %}
        {% include '@App/Numerologie/_table_lettres.html.twig' with {'mot': others} %}
    {% endif %}
{% endif %}

<h3>Tous les noms et prénoms</h3>
{% include '@App/Numerologie/_table_lettres.html.twig' with {'mot': subject.fullNames} %}