{% extends 'base.html.twig' %}

{% block title %}
    Numérologie - Ajouter
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Numérologie</h1>

        <ol class="breadcrumb">
            <li><a href="{{ path('numerologie_index') }}">Accueil</a></li>
            <li class="active">Nouvelle Personne</li>
        </ol>

        <div class="row">
            {% form_theme form '@App/Numerologie/_form_theme.html.twig' %}

            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.add-another-collection-widget').click(function (e) {
                var list = $($(this).attr('data-list'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') | list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your noms
                // end name attribute looks like name="contact[noms][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = $(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });

            $('.delete-from-collection-widget').click(function (e) {
                var list = $($(this).attr('data-list'));
                // Try to find the counter of the list or use the length of the list
                list.children().last().remove();
            });
        });
    </script>
{% endblock %}