{% extends 'base.html.twig' %}

{% block title %}
    Numérologie - Accueil
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <a class="btn btn-primary" href="{{ path('numerologie_add') }}">Nouvelle personne</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Historique</h3>

                    <div class="list-group">
                        <a href="#" class="list-group-item">First item</a>
                        <a href="#" class="list-group-item">Second item</a>
                        <a href="#" class="list-group-item">Third item</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}