{% extends 'base.html.twig' %}

{% block title %}
    Numérologie - Accueil
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Votre historique</h6>
                </div>

                <div class="card-body">
                    {% include '@App/Numerologie/_history.html.twig' with {'histories': histories} %}
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nouvelle personne</h6>
                </div>

                <div class="card-body text-center">
                    <p>
                        <em>Cliquez ici pour voir la numérologie d'une nouvelle personne</em>
                    </p>
                    <hr class="sidebar-divider d-none d-md-block">
                    <a href="{{ url('numerologie_add') }}" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                        <span class="text">Nouvelle personne</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}