{% extends 'base.html.twig' %}

{% block title %}
    Numérologie - {{ subject }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/print.css') }}" media="print">
{% endblock %}

{% block navbar %}
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-fw fa-user"></i>
            <span>Identité</span>
        </a>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item custom-tab-link active" data-target="tab1" href="#">Résumé</a>
                <a class="collapse-item custom-tab-link" data-target="tab2" href="#">Calculs</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-pencil-alt"></i>
            <span>Lettres</span>
        </a>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item custom-tab-link" data-target="tab3" href="#">Résumé</a>
                <a class="collapse-item custom-tab-link" data-target="tab4" href="#">Calculs</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link custom-tab-link" href="#" data-target="tab5">
            <i class="fas fa-fw fa-circle-notch"></i>
            <span>Vibrations</span>
        </a>
    </li>
{% endblock navbar %}

{% block pagetitle %}
    {{ subject }}
{% endblock pagetitle %}

{% block body %}
    <div id="tab1" class="custom-tab">
        {% include '@App/Numerologie/_resume_identite.html.twig' with {'subject': subject} %}
    </div>
    <div id="tab2" class="custom-tab d-none">
        {% include '@App/Numerologie/_identite.html.twig' with {'subject': subject} %}
    </div>
    <div id="tab3" class="custom-tab d-none">
        {% include '@App/Numerologie/_resume_lettres.html.twig' with {'subject': subject} %}
    </div>
    <div id="tab4" class="custom-tab d-none">
        {% include '@App/Numerologie/_lettres.html.twig' with {'subject': subject} %}
    </div>
    <div id="tab5" class="custom-tab d-none">
        {% include '@App/Numerologie/_vibrations.html.twig' with {'subject': subject} %}
    </div>
{% endblock body %}