{% extends 'base.html.twig' %}

{% block title %}
    Numérologie - {{ subject }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Numérologie {{ subject }}</h1>

        <ol class="breadcrumb">
            <li><a href="/">Nouvelle personne</a></li>
            <li class="active">{{ subject }}</li>
        </ol>

        <div class="panel with-nav-tabs">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Identité</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab">Lettres</a></li>
                </ul>
            </div>

            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        {% include '@App/Numerologie/_identite.html.twig' with {'subject': subject} %}
                    </div>

                    <div class="tab-pane fade" id="tab2">
                        {% include '@App/Numerologie/_lettres.html.twig' with {'subject': subject} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}