{% extends '@Site/base.html.twig' %}

{% block title %}
    Mentions légales
{% endblock %}

{% block bodyAttr %}class="tryPage"{% endblock bodyAttr %}

{% block body %}
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            <h5 class="card-title text-justify">Mentions légales</h5>

                            <div class="d-flex">
                                <div class="flex-1-1-auto">
                                    <h5>Éditeur du site</h5>
                                    <span class="text-gray-600 small">
                                        Jean Michel Mazaudier<br>
                                        1 Route de Hent Glaz<br>
                                        29530 Loqueffret<br>
                                        Tél : 02 98 26 21 63<br>
                                        N° de Siret : 53119681400036<br>
                                        <a href="http://www.editions-bussiere.com/139_mazaudier-jean-michel" title="Jean-Michel Mazaudier aux Éditions Bussière" target="_blank">Page auteur des Editions Bussière</a>
                                    </span>
                                </div>

                                <div class="flex-1-1-auto">
                                    <h5>Hébergeur du site</h5>
                                    <span class="text-gray-600 small">
                                        ARPANE<br>
                                        12 avenue Carnot<br>
                                        BP 61709<br>
                                        44017 Nantes CEDEX 1<br>
                                        <a href="https://www.arpane.fr" title="Arpane" target="_blank">www.arpane.fr</a>
                                    </span>
                                </div>

                                <div class="flex-1-1-auto">
                                    <h5>Réalisation du site</h5>
                                    <span class="text-gray-600 small">
                                        <a href="https://github.com/AlexiZ" title="AlexiZ on Github.com" target="_blank"><i class="fab fa-2x fa-github"></i>&nbsp;AlexiZ</a>
                                    </span>
                                    <br>
                                    <span class="text-gray-600 small">
                                        <a href="https://startbootstrap.com/themes/creative/" target="_blank">Creative Theme</a> par <a href="http://davidmiller.io/">David Miller</a>
                                    </span>
                                    <br>
                                    <span class="text-gray-600 small">
                                        <a href="https://startbootstrap.com/themes/sb-admin-2/" target="_blank">SB Admin 2</a> par <a href="http://davidmiller.io/">David Miller</a>
                                    </span>
                                </div>
                            </div>

                            <div class="text-justify mt-4">
                                <h5>Protection des Données Personnelles</h5>
                                <span class="text-gray-600 small">
                                    L'utilisateur de ce site est informé que, conformément à l'article 27 de la loi Informatique et Libertés du 6 janvier 1978, les informations communiquées par l'utilisateur du fait des formulaires présents sur le site, sont nécessaires pour répondre à sa demande et sont destinées à l'éditeur du site, responsable du traitement.
                                </span>
                                <br>
                                <span class="text-gray-600 small">
                                    Les données personnelles que vous communiquez sur ce site, permettent à l’éditeur de :
                                    <ul>
                                        <li>
                                            Vous communiquer le résultat de l’analyse numérologique demandée
                                        </li>
                                        <li>
                                            De vous adresser par mail ou voie postale le lien vers les résultats de l’analyse quand le paiement se fait par chèque
                                        </li>
                                    </ul>
                                </span>
                            </div>

                            <div class="text-justify mt-4">
                                <h5>Conditions générales de vente</h5>
                                <span class="text-gray-600 small">
                                    Tous les prix sont ceux qui sont proposés en page d’accueil, sans autre frais supplémentaire. Les analyses sont payables en ligne ou par chèque. Les résultats de ces analyses numérologiques sont fournis automatiquement dès que le règlement est validé. Dans le cas d’un paiement par chèque, le lien vers l’analyse demandée est envoyé dès l’encaissement du chèque.
                                </span>
                                <br>
                                <span class="text-gray-600 small">
                                    Les analyses effectuées ne donnent pas lieu à remboursement.
                                </span>
                            </div>

                            <div class="text-justify mt-4">
                                <h5>Messagerie</h5>
                                <span class="text-gray-600 small">
                                    Pour tout problème ou difficulté particulière, il suffit de nous contacter par le biais du formulaire de contact proposé en page d’accueil. Nous nous engageons à répondre dans les plus brefs délais.
                                </span>
                            </div>

                            <div class="text-justify mt-4">
                                <h5>Exercice du droit d'accès</h5>
                                <span class="text-gray-600 small">
                                    Conformément à l'article 34 de la Loi Informatique et Libertés, l'utilisateur de ce site dispose d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent. Pour exercer ce droit d'accès, l'utilisateur doit utiliser le formulaire de contact du site ou écrire à l'adresse indiquée plus haut dans les informations éditeur.
                                </span>
                                <br>
                                <span class="text-gray-600 small">
                                    Pour plus d'informations sur la loi Informatique et Libertés, vous pouvez consulter le site Internet de la CNIL.
                                </span>
                            </div>

                            <div class="text-justify mt-4">
                                <h5>Droits d'auteur / Copyright</h5>
                                <span class="text-gray-600 small">
                                    Les marques et logos figurant sur ce site sont des marques déposées auprès de l’INPI (Institut national de la propriété intellectuelle) par l'éditeur du site et protégées par les droits de propriété intellectuelle et/ou industrielle.
                                </span>
                                <br>
                                <span class="text-gray-600 small">
                                    Leur mention n'accorde en aucune manière une licence ou un droit d'utilisation quelconque des dites marques, qui ne peuvent donc être utilisées sans le consentement préalable et écrit du propriétaire de la marque sous peine de contrefaçon.
                                </span>
                                <br>
                                <span class="text-gray-600 small">
                                    Toute utilisation non expressément autorisée ou toute représentation totale ou partielle de ce site, par quelque procédé que ce soit, est strictement interdite sans autorisation préalable et écrite de l'éditeur du site et constituerait une contrefaçon sanctionnée par les articles L 355-2 et suivants du Code de la Propriété Intellectuelle.
                                </span>
                            </div>

                            <div class="text-justify mt-4">
                                <h5>Responsabilité</h5>
                                <span class="text-gray-600 small">
                                    L'ensemble des informations accessibles via ce site sont fournies en l'état. L'éditeur du site ne donne aucune garantie, explicite ou implicite, et n'assume aucune responsabilité relative à l'utilisation de ces informations.
                                </span>
                                <br>
                                <span class="text-gray-600 small">
                                    L'utilisateur est seul responsable de l'utilisation de telles informations.
                                </span>
                                <br>
                                <span class="text-gray-600 small">
                                    L'éditeur du site se réserve le droit de modifier à tout moment les présentes notamment en actualisant ce site.
                                </span>
                                <br>
                                <span class="text-gray-600 small">
                                    L'éditeur du site ne pourra être responsable pour quelque dommage que ce soit tant direct qu'indirect, résultant d'une information contenue sur ce site.
                                </span>
                            </div>

                            <div class="text-justify mt-4">
                                <h5>Sources des images</h5>
                                <span class="text-gray-600 small">
                                    Les photos utilisées sur ce site sont :
                                    <ul>
                                        <li>soit issues de la banque d’image Unsplash avec droit d’usage commercial</li>
                                        <li>soit des photos et créations réalisées par l’éditeur lui-même</li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body %}